body{
  margin:0;
  font-family:Arial;
  background:#02113b;
  color:white;
}

.container{
  width:90%;
  max-width:1100px;
  margin:auto;
}

h1{
  text-align:center;
  color:#38bdf8;
}

.auth-container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.auth-card{
  background:#1e293b;
  padding:40px;
  border-radius:20px;
  width:400px;
}

.auth-buttons{
  display:flex;
  gap:10px;
}

.top-bar{
  display:flex;
  gap:10px;
  margin-bottom:20px;
}

input, textarea{
  width:100%;
  padding:15px;
  border:none;
  border-radius:10px;
  margin-bottom:15px;
  font-size:18px;
}

textarea{
  height:200px;
}

button{
  padding:15px 20px;
  border:none;
  border-radius:10px;
  background:#38bdf8;
  color:white;
  cursor:pointer;
  font-size:18px;
}

.blog-card{
  background:#1e293b;
  padding:20px;
  border-radius:15px;
  margin-top:20px;
}

.blog-card img{
  width:100%;
  border-radius:10px;
  margin-top:10px;
}

.actions{
  display:flex;
  gap:10px;
  margin-top:15px;
}

footer{
  text-align:center;
  padding:20px;
  color:#aaa;
}

.light-mode{
  background:#f5f5f5;
  color:black;
}