body {
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
background: #00154f;
color: white;
}

.container {
width: 90%;
max-width: 1200px;
margin: auto;
padding: 20px;
}

h1 {
text-align: center;
color: #38bdf8;
margin-bottom: 30px;
}

.top-bar {
display: flex;
gap: 10px;
margin-bottom: 20px;
}

#search {
flex: 1;
padding: 18px;
font-size: 18px;
border-radius: 10px;
border: none;
}

#themeBtn {
padding: 18px;
background: #38bdf8;
border: none;
border-radius: 10px;
cursor: pointer;
color: white;
font-size: 18px;
}

form {
background: #1e293b;
padding: 20px;
border-radius: 15px;
margin-bottom: 30px;
}

input,
textarea {
width: 100%;
padding: 18px;
margin-bottom: 15px;
border-radius: 10px;
border: none;
font-size: 18px;
box-sizing: border-box;
}

textarea {
height: 220px;
resize: none;
}

button {
padding: 14px 25px;
background: #38bdf8;
color: white;
border: none;
border-radius: 10px;
cursor: pointer;
font-size: 18px;
}

.blog-card {
background: #1e293b;
padding: 20px;
border-radius: 15px;
margin-bottom: 20px;
}

.blog-card img {
width: 100%;
max-height: 400px;
object-fit: cover;
border-radius: 10px;
margin-bottom: 15px;
}

.blog-card h2 {
color: #38bdf8;
}

.actions {
margin-top: 15px;
display: flex;
gap: 10px;
}

footer {
text-align: center;
margin-top: 40px;
padding: 20px;
font-size: 16px;
color: #94a3b8;
}

.light-mode {
background: #f1f5f9;
color: black;
}

.light-mode form,
.light-mode .blog-card {
background: white;
}

.light-mode h1 {
color: #0f172a;
}